.css-1iyq7zh-MuiDataGrid-columnHeaders{
    background-color: #1976D2;
    color: #fff;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    max-width: 70%;
    width: 70%;

}
.css-qfz70r-MuiFormGroup-root{
    justify-content: center;
}
.MuiBox-root.css-l5xabh{
    min-height: 90%;
    min-width: 90%;
}
.MuiAvatar-root.MuiAvatar-square.MuiAvatar-colorDefault {
    min-width: 12vw;
    min-height: 20vh;
}
.root .MuiGrid-item {
    padding-left: 0;
    margin-top: 0;
  }
  div#mui-p-55568-P-1 {
    padding: 8px;
}
.MuiBox-root.css-1acyv19{
    background-color: #F0F2F5;
    border: none;
}
div#mui-p-96712-P-2 {
    padding: 10px;
}
.MuiBox-root.css-1acyv19{

    min-width: 60%;
    min-height: 80%;
}
.MuiBox-root.css-1acyv19{
    background-color: #fff;
}