body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wew-container{
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 90%;
  height: 140px;
  justify-content: space-around;
}
.wew1{
  width: 300px;
  height: 70px;
  margin-top: -7%;
  align-self:center;
  background-image: url("../public/daetlugu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wew3{
	width: 80px;
	height: 80px;
	margin-top: -7%;
	align-self:center;
	background-image: url("../public/daetlugu.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
.wew2{
	width:30%;
	height:30%;
	border-radius:30%;
	margin-right: 10%;
	margin-top: -6%;
	align-self:center;
	background-image: url("../public/RHU.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

.screen {		
	background: linear-gradient(90deg, #1f185c, #060429);		
	position: relative;	
	height: 500px;
	width: 400px;	
	box-shadow: 0px 0px 24px #523ffc;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #6C63AC;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #5D54A4, #6A679E);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #7E7BB9;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 400px;
	padding: 30px;
	padding-top: 156px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}

.label{
  width: 100%;
  height: 50;
  align-self: center;
}

.loginBtn{
  width: 90%;
  height: 40px;
  background-color: rgba(245, 245, 245, 0);
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  color: white;
}

.main{
  width: 100%;
  height: 100vh;
  background-color: rgb(230, 230, 255);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.btn{
	margin: 5%;
	height: 40px;
	width: 70%;
	border-radius: 10%;
	background-color: white;
	color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	box-shadow: 2px 2px 2px 2px rgb(74, 74, 78);
}

.btn:hover{
	background-color: blue;
	cursor: pointer;
	border-color: blue;
	border-width: 3px;
	color: black;
}

.articleImage{
	align-self: center;
	background-image: url("/public/addimage.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

::file-selector-button {
	display: none;
  }

.profile{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: rgba(245, 245, 245, .2);
	align-self: center;
	background-image: url("/public/logo512.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.sideNav{
  width: 20%;
  height: 100vh;
  background-color: rgb(218, 218, 231);
  box-shadow: 1px 1px 1px rgb(214, 214, 218);
 /* background-image: url("/public/textured.jpg");*/
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.tabs{
  width: 100%;
  height: 50px;
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.in{
  font-size: 16px;
  color: white;
}

.icons{
  size: 40px;
  color:white;
  margin-right: 20px;
}

.tabs:hover {
  cursor: pointer;
}

.inputContainer{
  width: 90%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.emailLabel{
  color: black;
}

.App-header{
  background-image: url("../public/newbg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#doneBtn:hover{
	background-color: aquamarine;
	color: white;
}

